<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{'favicon.ico' | relative_url}}">
	<link type="application/atom+xml" rel="alternate" href="{{'feed.xml' | relative_url}}" title="{{site.title}}" />
	{% if site.pocket_verification -%}
	<meta name="pocket-site-verification" content="{{site.pocket_verification}}" />
	{% endif -%}
	{% if site.micro_blog -%}
	<link href="https://micro.blog/{{site.micro_blog}}" rel="me" />
	{% endif -%}
	{% seo -%}
	{% include style.html -%}
	{% if site.mathjax %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_CHTML-full" type="text/javascript"></script>
	{% endif %}
	{% if site.syntax_highlight -%}
	<link href="{{'/assets/highlight.css' | relative_url}}" rel="stylesheet">
	{% endif -%}
</head>
