<header>
	<nav>
		<div class="left" style="text-align:left;float:left">
			<a href="{{'/' | relative_url }}">
				{{-site.title | default: "Title"-}}
			</a>
		</div>
		{%- if site.data.navigation %}
		<div class="right" style="text-align:right;">
			{%- for each in site.data.navigation %}
			{%- if each.url contains "://" %}
			<a href="{{each.url}}">{{each.title}}</a>
			{%- else %}
			<a href="{{each.url | relative_url}}">{{each.title}}</a>
			{%- endif %}
			{% if forloop.last == false -%}
			|
			{%- endif -%}
			{%- endfor %}
		</div>
		{%- endif %}
	</nav>
	<h1>{{page.title | default: "Title"}}</h1>
	{%- if page.description %}
	<p>{{ page.description }}</p>
	{%- endif %}
	{%- if page.date %}
	<p>{{page.date | date: '%B %d, %Y'}}</p>
	{%- endif %}
	<hr />
</header>
